<!-- 
Copyright@ 2019
-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
th:fragment="layout (template, menu)">
<head>
    <title>Expedia Presentation</title>
    <meta charset="UTF-8">
  	<meta name="description" content="Expedia Presentation">
  	<meta name="keywords" content="Expedia, EPS, API, Solution">
  	<meta name="author" content="jounghunyoung@gmail.com">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/css/main.css" />
    
</head>
<body>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    
	<!-- Header -->
    <div class="container-fluid fixed-top text-center" style="background-color: #CCD7FA; width:auto;">
		<h1>Example Shop Representation</h1>
	</div>
	
    <!-- Html contents here -->
    <div class="container-fluid text-center" style="width:auto;" th:replace="${template}">
	</div> 
    
    <!-- Footer -->
    <div class="container-fluid fixed-bottom text-center" style="background-color: #CCD7FA; width:auto;">
	    <H5>Copyright@ 2019 by jounghunyoung@gmail.com</H5>
	</div>  
</body>