<!-- 
Copyright@ LINE 2019
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

    <div class="error_division"></div>
    <div class="text-center">
	     <h4>Partner Seminar Admin</h4>
    </div>
    
    <div class="container">
 		<form th:action="@{/}" th:method="post" th:object="${userInfo}">
	  	<table class="table">
	    	<tbody>
	      		<tr>
	        		<td align="right">ID</td>
	        		<td align="left" width="50%">
	        			<input id="id" name="id" type="text" class="form-control" />
	        		</td>
	      		</tr>
	      		<tr>
	        		<td align="right">PASSWORD</td>
	        		<td align="left" width="50%">
	        			<input id="password" name="password" type="text" class="form-control" />
	        		</td>
	      		</tr>
	      		<tr>
	        		<td colspan="2" class="col-md-4 text-center">
	        			<button id="submit" type="submit" class="btn btn-default"> SUBMIT </button>
	        		</td>
	      		</tr>	      		
	      	</tbody>
		</table>			
		</form>	
	</div>

</body>
</html>